/* Color palate https://coolors.co/6ec4ad-7ab1cd-e86f4a-2a3d45-07354b */
html {
    box-sizing: border-box;
}
body {
    background-color: #7AB1CD;
    border-bottom: 10px solid #6EC4AD;
    box-sizing: border-box;
    color: #2A3D45;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    min-height: 100%;
    padding: 0 0 2rem 0;
}
header {
    background-color: #7AB1CD;
    border-top: 10px solid #6EC4AD;
}
header h1 {
    font-weight: 800;
}
header p {
    color: #07354B;
    margin-top: 1rem;
}
header a, header a:visited {
    color: white;
    text-decoration: none;
}
main {
    background-color: white;
    padding: 4rem;
    border-left: 5px solid #6EC4AD;
    border-right: 5px solid #6EC4AD;
    border-top: 1px solid #6EC4AD;
    height: 100%;
    box-sizing: border-box;
}
h1 {
    color: #07354B;
}
h2 {
    color: #6EC4AD;
}
h3 {
    font-size: 1.2rem;
    color: #7AB1CD;
}
p {
    line-height: 1.5;
}
a {
    color: #E86F4A;
    text-decoration: none;
}