<h1><%= @page.title %></h1>
<div style="display: flex; justify-content: space-between;">
  <span style="font-weight: 300;"><%= String.upcase(@page.date) %></span>
  <!-- by <%= @site.author %></span> -->
  <%= unless Enum.empty?(@page.tags) do %>
    <div style="display: flex; gap: 1rem;">
      <span>Tags: </span>
        <%= for t <- @page.tags do %>
          <a href="<%= t.list_url %>"><%= t.name %></a>
        <% end %>
    </div>
  <% end %>
  </div>
<%= @contents %>
